body {
   width: 1200px;
   margin: 0px auto;
}
h1 {
   font-family: "Arial", sans-serif;
}
h2 {
   font-family: "Arial", sans-serif;
}
#header {
   height: 150px;
   width: 1200px;
   margin: 0px auto;
}
#header img {
   position: absolute;
   width: 1200px;
   height: 172px;
   margin-left: auto;
   margin-right: auto;
   top: 0;
   opacity: 0.4;
}

#header h1 {
   text-align: center;
}
#header h2 {
   text-align: center;
}
#navigation {
   list-style-type: none;
   margin: 0px auto;
   width: 1160px;
   overflow: hidden;
   background-color: #808080;
}
#navigation li {
   float: left;
}
#navigation li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-family: "Arial", sans-serif;
}
#navigation li a:hover {
   background-color: #333333;
}
.roster {
   border-collapse:collapse;
   border: 1px solid #A0A0A0;
}
.roster th {
   background-color: #880000;
   color: white;
   text-align: left;
}
.roster th, td {
   padding: 20px;
   font-family: "Arial", sans-serif;
}
.roster td {
   text-align: left;
   border-bottom: 1px solid #A0A0A0;
}
.roster tr:nth-child(odd) {
   background-color: #D0D0D0;
}
.form-header {
   text-align: center;
}
